:root {
    --font: Cantarell;
    --my-green: #42f486;
}

* {
    outline: none !important;
}

body {
    background-color: black;
}

#banner {
    text-align: center;
    color: dodgerblue;
    font-family: var(--font);
    font-size: 50px;
    margin: 0px;
}

.items_row {
    display: inline-block;
}

.items {
    color: dodgerblue;
    background-color: transparent;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: var (--font);
    border-radius: 50px;
    border: 3px solid tomato;
}

.items:hover {
    cursor: pointer;
    /* background-color: black; */
    color: tomato;
    border-color: dodgerblue;
}

.items:focus {
    border-color: var(--my-green);
    outline: none !important;
}

button::-moz-focus-inner {
    border: none;
}

/* Competitive Programming Table Block */

#block_cp {
    display: none;
    /* border: 2px solid red; */
    background-color: black;
    border: 5px solid var(--my-green);
}

#block_cp img {
    width: 220px;
    max-height: 75px;
    filter: invert(100%);
    padding-left: 10px;
    padding-right: 20px;
}

.block_cp_items:hover {
    border: 4px dashed tomato;
}

/* Search Box */
#search_box input {
    width: 50%;
    height: 40px;
    color: dodgerblue;
    background-color: black;
    font-size: 15px;
    font-family: "Hack Nerd Font";
    border: 2px dashed tomato;
    border-radius: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 2px;
}

#search_box button {
    height: 40px;
    border: 2px solid tomato;
    color: dodgerblue;
    font-size: 20px;
    background-color: black;
    border-radius: 50px;
}

#search_box button:hover {
    background-color: tomato;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#search_engine {
    height: 40px;
    width: 150px;
    background-color: black;
    font-size: 15px;
    text-align: center;
    color: dodgerblue;
    border: 2px solid tomato;
    border-radius: 50px;
}

#search_engine:focus {
    outline: none !important;
}

#search_engine option {
    background-color: black;
    color: tomato;
    font-size: 20px;
}
